[Unit]
Description=Tresk - Weekly Report Timer
Documentation=https://github.com/p4ndish/tresk

[Timer]
OnCalendar=Sun *-*-* 09:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
