[Unit]
Description=Tresk - Daily Summary Timer
Documentation=https://github.com/p4ndish/tresk

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
