[Unit]
Description=Tresk - Daily Deep Scan Timer
Documentation=https://github.com/p4ndish/tresk

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
